# Fichiers sources et configuration
src/
tests/
public/
coverage/
node_modules/

# Fichiers de configuration racine (hormis package.json et README.md qui sont toujours inclus)
.github/
.vscode/
vite.config.js
eslint.config.js
babel.config.js
.babelrc
docker-compose.yml
Dockerfile
documentation.txt
index.html

# Logs
npm-debug.log
yarn-error.log