node_modules
coverage
.github
.vscode

.git
.gitignore

Dockerfile
docker-compose.yml

*.log
npm-debug.log*

.env
.env.local
.env.*.local

src/**/*.test.*
src/**/*.spec.*
src/**/__tests__/

public
index.html

vite.config.js
eslint.config.js
babel.config.js
jsdoc.config.json
documentation.txt